header.header
    include ./_navigation
    include ./_menu
    .heading
        span.heading__text.heading__text_line С нами ваши мечты
        span.heading__text преваращаются в пространство
        span.heading__text для жизни

        .play
            a.play__link(href="#")
                +play
            
            .play__text Showreel
        
    .mouse
        a.mouse__link(href="#")
            +mouse
